body{
	padding:0px;
	margin:0px;
	float:left;
	background-color:#D6D6D6;
	font-size: 15px;
}
.header{
	width: 100%;
	height: 54px;
	background-color: #262626;

	
}
.header img{
	padding: 5px 35px;
} 
.header ul{
	float: right;

}

.header ul li{
	margin: 5px 12px;
	float: left;
}
.header ul li a{
	text-decoration: none;
	font-size: 13px;
	color: white;
}
.header ul>li:last-child a{
	padding-right: 10px;
	color: #787E86;
}
.header ul li a:hover{
	text-decoration: underline;
}

/*四篇文章的布局设置*/
.article{
	width: 92%;
	margin: 22px;
	padding: 28px;
	background-color: white;
	border-radius: 5px;
	line-height: 21px;
	box-shadow: 3px 3px 3px #787E86;
	/*兼容fireFox、chrome、Safari*/
	-webkit-box-shadow: 3px 3px 3px #787E86;
	-moz-box-shadow: 3px 3px 3px #787E86;

}
/*控制相应段落缩进*/
.suojin{
	text-indent: 2em;
}
.article h4{
	color: #787E86;
}
.article span{
	font-size: 6px;
}

.article ul{
	list-style: none;
}

#article3 ul li{
	text-align: center;
	width: 120px;
	border: 1px solid red;
	margin: 15px;
}
#article3 ul li img{
	width: 90%;
}
#article4 span{
	font-size: 15px;
	font-weight: bold;
}
.article table{
	width: 100%;
}
.article table th{
	background-color: black;
	color: white;
}
.article table tr:last-child td{
	background-color: #787E86;
	font-weight: bold;
}

.sidebar{
	width: 92%;
	height: 100%;
	margin: 22px;
	padding: 5px;
	background-color: white;
	border-radius: 5px;
	line-height: 21px;
	box-shadow: 3px 3px 3px #787E86;
	/*兼容fireFox、chrome、Safari*/
	-webkit-box-shadow: 3px 3px 3px #787E86;
	-moz-box-shadow: 3px 3px 3px #787E86;
}
.sidebar h3{
	border-left: 3px solid #787E86;
	padding: 5px 15px;
	margin-left: 20px;
	
}
.sidebar form{
	margin:5px auto;
	width: 100%;
	font-size: 10px;
}

.sidebar form label{
	width: 10%;
	text-align: right;
	float: left;
	margin-left: 250px;
	padding-right: 10px;
}

.sidebar textarea{
	width: 60%;
	height: 100px;
}
.sidebar input:last-child{
	width: 95%;
	height: 50px;
	color: white;
	background: #2437C9;
	border-radius: 8px;
	font-size: 15px;
	margin: 10px 25px;
}
.tips{
	font-size: 10px;
	color: #787E86;
	margin-left: 32%;
}


.footer{
	background-color: black;
	text-align: center;
	height: 90%;
	color:white;
	padding: 3px;

}
